/* AllUsersCard.css */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:pink;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th,
.user-table td {
    border: 1px solid black;
    padding: 8px;
    background-color: wheat;
}

.user-table th {
    background-color:wheat;
}

.user-table td {
    text-align: left;
}

.close-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 300px;
}

.close-button:hover {
    background-color: #c82333;
}
h2{
    text-align: center;
}
