.cardcss {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  background-color:white;
}

.card-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: blue;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  
}

.form-control {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.link-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
}

.link-button:hover {
  color: #0056b3;
}

.signin-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}
